[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
absl-pyasn1
aiohttp
aiosignal
astroid
astunparse
async-timeout
attrs
cachetools
certifi
charset-normalizer
clang
colorama
cycler
flatbuffers
fonttools
frozenlist
gast
gcloud
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
httplib2
idna
importlib-metadata
isort
jws
keras = "==2.6.0"
Keras-Preprocessing
kiwisolver
lazy-object-proxy
Markdown
matplotlib
mccabe
multidict
numpy
oauth2client
oauthlib
opencv-contrib-python
opt-einsum
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pycryptodome
pylint
pyparsing
Pyrebase
python-dateutil
python-jwt
requests
requests-oauthlib
requests-toolbelt
rsa
silence-tensorflow
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-gpu = "==2.6.0"
termcolor
toml
typing-extensions
urllib3
Werkzeug
wrapt
wslink
yarl
zipp

[requires]
python_version = "3.9.13"